.img-container {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* background-image: url(../assets/dishPhoto.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
}
.home {
  padding: 0px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: var(--secondary-color);
  flex: 1;
}
.div-row {
  display: flex;
  align-items: center;
}
.div-row > p {
  margin: 0;
}
.img-frame {
  aspect-ratio: 16/10;
  height: 200px;
  border: 4px solid var(--accent-color);
  border-radius: var(--btn-border-radius);
  margin-top: 40px;
  margin-right: 20px;
}
p {
  min-width: 30ch;
  max-width: 75ch;
}
